
/* Tablet Screen P*/

@media screen and (min-width:768px) {
    .main_header_area {
        padding: 20px 0px;
    }
    .inner_menu {
        background: none;
    
    }
}

/* Tablet Screen P*/

@media screen and (min-width:1024px) {
    .main_header_area {
        padding: 20px 0px;
    }
    .inner_menu {
        background: none;
    
    }
}