
/* Tablet Screen P*/

@media screen and (min-width:768px) {
    .main_header_area {
        padding: 20px 0px;
    }

}

/* Tablet Screen L*/

@media screen and (min-width:1024px) {
    .main_header_area {
        padding: 20px 0px;
    }
  
}

/* Mobile Screen P*/

@media screen and (max-width:767px) {
    .main_header_area {
        padding: 20px 0px;
    }
  

/* Mobile Screen P*/

@media screen and (mapeex-width:767px) {
    .main_header_area {
        padding: 20px 0px;
    }
   
}

/* Tablet Screen L*/

@media screen and (min-width:1200px) {
    .main_header_area {
        padding: 20px 0px;
    }
   
}